<div class="center">
	<h2 style="color:#3f51b5;margin-bottom:30px;">Please choose an article from the list</h2>
	<mat-card class="mat-elevation-z4 scrollbar formDiv"  id="style-4" style="width:60vw;max-height:65vh;overflow: auto;">
		<mat-selection-list [multiple]="false" *ngIf="topics?.length" [(ngModel)]="auth.selectedTopic">
		  <mat-list-option *ngFor="let topic of topics" [value]="topic">
		    {{topic}}
		  </mat-list-option>
		</mat-selection-list>
	</mat-card>
	<button  [disabled]="!auth.selectedTopic" mat-raised-button color="primary" style="float: right;margin-top:25px;" (click)="Next()">Next</button >
	<div style="display: inline-block;margin:0px;width:95% ;margin-top:15px;margin-bottom:0px;" >
		<form [formGroup]="ModelFormGroup">
			<mat-form-field appearance="fill" style="width:20%;float:right;margin-right:70px;">
				<mat-label>Model Option</mat-label>
				<mat-select formControlName="htp">
					<mat-option value="mobile_bert">mobile_bert</mat-option>
					<mat-option value="electrabase">electrabase</mat-option>
					<mat-option value="distilbert">distilbert</mat-option>
					<mat-option value="bert_base">bert_base</mat-option>
				</mat-select>
			</mat-form-field>
	<div>
</div>
