.example-spacer {
    flex: 1 1 auto;
}
.toolbar-items {
    margin-left: 1%;
    font-size: medium;
    font-family: 'Segoe UI Italic 400', sans-serif;
}
.toolbar-title {
    margin-right: 0.5%;
    font-size: x-large;
    font-family: 'Segoe UI Italic 400', sans-serif;
}
.drawer-container {
    width: 100%;
    height: 100%;
}  
/*.drawer-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}*/  

.drawer-heading {
    margin-left: 6%;
}

.drawer-subheading {
    font-size: 25px;
    font-family: 'Segoe UI Italic 400', sans-serif;
}

.drawer-headindicon {
    pointer-events: none;
}
.drawer-sidenav {
    padding: 10px;
    width: 15%;
}
.drawer-icon {
    float: left;
    margin-top: 15%;
    margin-right: 0.35em;
    font-size: 25px;
}
.drawer-icon1 {
    float: left;
    margin-top: 15%;
    margin-right: 0.35em;
    font-size: 30px;
}
.drawer-item {
    font-size: 20px;
    font-family: 'Segoe UI Italic 400', sans-serif;
}
.open-file-dialog {
    display: none;
}
.tool-bar{
    color:white;
    height:5%;
}
.netron-false{
    top: 10%;
    left: 15%;
    position: absolute;
    display: none;
}
.netron-true{
    top: 10%;
    left: 15%;
    position: absolute;
    display: block;
}
