[flake8]
ignore = E501,W503,E203,E266,E704
# E501 line too long
# W503 Black can produce line break before binary operator
# E203 False positive "whitespaces before :" especially when slicing list, arrays etc.
# E266 Too many leading '#' for block comment
# E704: multiple statements on one line (def) -- conflicts with Black
exclude = **/*_pb2.py
