hydra-core~=1.3.0
pyquaternion==0.9.9
imgaug==0.4.0
torchmetrics==1.4.0.post0
pytorch-lightning>2,<3
fvcore==0.1.5.post20210825
einops==0.3.2
efficientnet-pytorch==0.7.1
wandb==0.22.3
scikit-learn>1.1,<1.6
cachetools==6.2.1
