.time{
	color: #747474;
	font-weight: 500;
	display: inline-block;
	margin-bottom: 0px;
}


.executionTime{
	color: #bd3232;
	font-weight: 500;
	display: inline-block;
	float: right;
	margin-bottom: 0px;
}


.input{
	font-weight: 500;
	color: black;
	font-style: italic;
	font-size: 18px;
	margin-bottom: 0px;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 40px;
  width: 50%;
}

.mat-progress-bar {
  height: 15px;
}

table {
  width: 100%;
}

.green{
	background-color: #a3e7a3;
}

.red{
	background-color: #ff9a9a;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

td{
	text-align: center;
}
