object-detection-metrics==0.4.post1
shapely==2.0.3
matplotlib==3.7.5 # Ultralytics does not specify a matplotlib verion, and the latest matplotlib breaks it. So we have to include the requirement manually
ultralytics==8.0.193 # used by shared YOLO app
