seaborn==0.11.0
thop==0.1.1.post2209072238
matplotlib==3.7.5 # Ultralytics does not specify a matplotlib verion, and the latest matplotlib breaks it. So we have to include the requirement manually
ultralytics==8.0.193
object-detection-metrics==0.4.post1 # used by YOLO evaluator
