opencv45/native/3rdparty/libs/**/*.a filter=lfs diff=lfs merge=lfs -text
opencv45/** filter=lfs diff=lfs merge=lfs -text
snpe-release/** filter=lfs diff=lfs merge=lfs -text
app/src/main/assets/* filter=lfs diff=lfs merge=lfs -text
sdk/** filter=lfs diff=lfs merge=lfs -text
app/src/main/jniLibs/** filter=lfs diff=lfs merge=lfs -text
AIMET_4W8A_hrnet_posnet.onnx filter=lfs diff=lfs merge=lfs -text
