chumpy@https://qaihub-public-assets.s3.us-west-2.amazonaws.com/qai-hub-models/wheels/chumpy-0.71-py3-none-any.whl # pre-built chumpy to avoid needing to pre-install `wheel` on py3.11 and below. See https://qaihub-public-assets.s3.us-west-2.amazonaws.com/qai-hub-models/wheels/chumpy_wheel_info.md
mmdet@https://qaihub-public-assets.s3.us-west-2.amazonaws.com/qai-hub-models/wheels/mmdet-3.3.0%2Bmmcv220-py3-none-any.whl # mmdet patched to support mmcv 2.2.0. See https://qaihub-public-assets.s3.us-west-2.amazonaws.com/qai-hub-models/wheels/mmdet_wheel_info.md
mmpose==1.2.0
mmcv==2.2.0
