boto3
botocore
coverage==6.5.0
huggingface-hub==0.20.3
jinja2==3.0.3
mypy==0.991
protobuf==3.20.3
pytest-cov==4.1.0
pytest-xdist==3.3.1
pyyaml==6.0.1
ruamel-yaml
schema==0.7.5
scikit-image>=0.21.0
tensorflow-cpu==2.13.0; sys_platform != 'darwin'
tensorflow-macos==2.13.0; sys_platform == 'darwin'
types-PyYAML
types-pillow
types-tabulate
types-requests
keyrings.envvars; python_version >= '3.9' # used only by CI
