Pillow==10.0.1
gdown==4.7.1
gitpython
huggingface_hub
ipython
numpy==1.23.1
opencv-python==4.8.1.78
pandas
prettytable
pytest==7.4.2
pyyaml
qai_hub>=0.9.0
requests
requests_toolbelt
schema
tabulate
torch==1.13.1
torchvision<=0.14.1
urllib3<2
