https://github.com/quic/aimet/releases/download/2.14.0/aimet_onnx-2.14.0+cu121-cp310-cp310-manylinux_2_34_x86_64.whl -f https://download.pytorch.org/whl/torch_stable.html; sys_platform == 'linux' and python_version == "3.10"
transformers==4.45.0
sentencepiece==0.2.1
psutil
onnx==1.16.2
torch==2.4.1
torchvision==0.19.1
onnxruntime-gpu==1.22
