aimet-onnx==2.14.0; sys_platform == 'linux' and python_version == "3.10"
transformers~=4.56.2
diffusers[torch]~=0.35.1
onnx>=1.17,<1.19
onnxsim<=0.4.36;python_version<'3.12'
onnxsim-prebuilt==0.4.36.post1;python_version>='3.12'
