aimet-onnx==2.14.0; sys_platform == 'linux' and python_version == "3.10"
transformers~=4.56.2
audio2numpy==0.1.2
onnx>=1.17,<1.19
onnxsim<=0.4.36;python_version<'3.12'
onnxsim-prebuilt==0.4.36.post1;python_version>='3.12'
scipy>=1.8.1,<2 # 1.8.1 is for AIMET
sounddevice==0.5.2
